# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.OMVParser.APIClient.WorkBaseData.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\mirmendax\source\repos\OMVParser.APIClient.WorkBaseData\.idea\.idea.OMVParser.APIClient.WorkBaseData\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
